AFLStock.WCF.Client/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AFLStockService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AFLStock.Entities" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAFLStockService_GetPurchaseOrders_Simplified_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrders_Simplified" />
  </wsdl:message>
  <wsdl:message name="IAFLStockService_GetPurchaseOrders_Simplified_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrders_SimplifiedResponse" />
  </wsdl:message>
  <wsdl:message name="IAFLStockService_GetSalesOrders_Simplified_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesOrders_Simplified" />
  </wsdl:message>
  <wsdl:message name="IAFLStockService_GetSalesOrders_Simplified_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesOrders_SimplifiedResponse" />
  </wsdl:message>
  <wsdl:message name="IAFLStockService_TotalStockValue_InputMessage">
    <wsdl:part name="parameters" element="tns:TotalStockValue" />
  </wsdl:message>
  <wsdl:message name="IAFLStockService_TotalStockValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:TotalStockValueResponse" />
  </wsdl:message>
  <wsdl:message name="IAFLStockService_GetStockItemsAll_Simplified_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockItemsAll_Simplified" />
  </wsdl:message>
  <wsdl:message name="IAFLStockService_GetStockItemsAll_Simplified_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockItemsAll_SimplifiedResponse" />
  </wsdl:message>
  <wsdl:message name="IAFLStockService_GetStockItemsByCategory_Simplified_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockItemsByCategory_Simplified" />
  </wsdl:message>
  <wsdl:message name="IAFLStockService_GetStockItemsByCategory_Simplified_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockItemsByCategory_SimplifiedResponse" />
  </wsdl:message>
  <wsdl:message name="IAFLStockService_GetStockItemsByCategoryDesignNumber_Simplified_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockItemsByCategoryDesignNumber_Simplified" />
  </wsdl:message>
  <wsdl:message name="IAFLStockService_GetStockItemsByCategoryDesignNumber_Simplified_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockItemsByCategoryDesignNumber_SimplifiedResponse" />
  </wsdl:message>
  <wsdl:message name="IAFLStockService_GetStockItemsByCategoryDesignNumberSubCode_Simplified_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockItemsByCategoryDesignNumberSubCode_Simplified" />
  </wsdl:message>
  <wsdl:message name="IAFLStockService_GetStockItemsByCategoryDesignNumberSubCode_Simplified_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockItemsByCategoryDesignNumberSubCode_SimplifiedResponse" />
  </wsdl:message>
  <wsdl:portType name="IAFLStockService">
    <wsdl:operation name="GetPurchaseOrders_Simplified">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFLStockService/GetPurchaseOrders_Simplified" message="tns:IAFLStockService_GetPurchaseOrders_Simplified_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFLStockService/GetPurchaseOrders_SimplifiedResponse" message="tns:IAFLStockService_GetPurchaseOrders_Simplified_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesOrders_Simplified">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFLStockService/GetSalesOrders_Simplified" message="tns:IAFLStockService_GetSalesOrders_Simplified_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFLStockService/GetSalesOrders_SimplifiedResponse" message="tns:IAFLStockService_GetSalesOrders_Simplified_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TotalStockValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFLStockService/TotalStockValue" message="tns:IAFLStockService_TotalStockValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFLStockService/TotalStockValueResponse" message="tns:IAFLStockService_TotalStockValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockItemsAll_Simplified">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFLStockService/GetStockItemsAll_Simplified" message="tns:IAFLStockService_GetStockItemsAll_Simplified_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFLStockService/GetStockItemsAll_SimplifiedResponse" message="tns:IAFLStockService_GetStockItemsAll_Simplified_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockItemsByCategory_Simplified">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFLStockService/GetStockItemsByCategory_Simplified" message="tns:IAFLStockService_GetStockItemsByCategory_Simplified_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFLStockService/GetStockItemsByCategory_SimplifiedResponse" message="tns:IAFLStockService_GetStockItemsByCategory_Simplified_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockItemsByCategoryDesignNumber_Simplified">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFLStockService/GetStockItemsByCategoryDesignNumber_Simplified" message="tns:IAFLStockService_GetStockItemsByCategoryDesignNumber_Simplified_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFLStockService/GetStockItemsByCategoryDesignNumber_SimplifiedResponse" message="tns:IAFLStockService_GetStockItemsByCategoryDesignNumber_Simplified_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockItemsByCategoryDesignNumberSubCode_Simplified">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFLStockService/GetStockItemsByCategoryDesignNumberSubCode_Simplified" message="tns:IAFLStockService_GetStockItemsByCategoryDesignNumberSubCode_Simplified_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFLStockService/GetStockItemsByCategoryDesignNumberSubCode_SimplifiedResponse" message="tns:IAFLStockService_GetStockItemsByCategoryDesignNumberSubCode_Simplified_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAFLStockService" type="tns:IAFLStockService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPurchaseOrders_Simplified">
      <soap:operation soapAction="http://tempuri.org/IAFLStockService/GetPurchaseOrders_Simplified" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesOrders_Simplified">
      <soap:operation soapAction="http://tempuri.org/IAFLStockService/GetSalesOrders_Simplified" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TotalStockValue">
      <soap:operation soapAction="http://tempuri.org/IAFLStockService/TotalStockValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockItemsAll_Simplified">
      <soap:operation soapAction="http://tempuri.org/IAFLStockService/GetStockItemsAll_Simplified" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockItemsByCategory_Simplified">
      <soap:operation soapAction="http://tempuri.org/IAFLStockService/GetStockItemsByCategory_Simplified" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockItemsByCategoryDesignNumber_Simplified">
      <soap:operation soapAction="http://tempuri.org/IAFLStockService/GetStockItemsByCategoryDesignNumber_Simplified" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockItemsByCategoryDesignNumberSubCode_Simplified">
      <soap:operation soapAction="http://tempuri.org/IAFLStockService/GetStockItemsByCategoryDesignNumberSubCode_Simplified" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AFLStockService">
    <wsdl:port name="BasicHttpBinding_IAFLStockService" binding="tns:BasicHttpBinding_IAFLStockService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/AFLStock.WCF.Service/AFLStockService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>